@{
	ViewData["Title"] = "About Page";
}
<div class="container bg-dark">
	<h1 class="text-center text-light">What kind of Climbing can I do?</h1>
	<ul class="list-group">
		<li class="list-group-item text-center bg-info display-4">Bouldering</li>
		<li class="list-group-item text-center bg-info display-4">Top Rope</li>
		<li class="list-group-item text-center bg-info display-4">Lead Rope</li>
		<br />
	</ul>
</div>