@{
ViewData["Title"] = "Contact Page";
}
<div class="container bg-dark text-white" style="font-family: 'Franklin Gothic Book'; text-shadow: 1px 1px black;">
    <div class="row bg-info rounded">
        <div class="col-sm-8">
            <h2>Join the Traverse City Climbing Club!</h2>
            <h3>Where we climb:</h3>
            <address>

                <div class="col-sm-9" style="width:300px;">
                    Elev8 Climbing and Fitness <br />
                    777 Boyd Ave<br />
                    Traverse City, MI 49696<br />
                    Phone: (231)600-7260
                </div>
                <i class='fas fa-mountain col-sm-9' style='font-size:24px'></i>
            </address>
        </div>
        <img src="~/Images/elev8.jpg" alt="Logo" class="rounded img-thumbnail col-sm-4" />
        <img src="~/Images/walls.jpg" alt="Mezzanine" class="rounded col-sm-8" />

        <div class="col-sm-12 mt-5 list-group list-group-horizontal">
            <a href="mailto:arl9@mail.nmc.edu" class="list-group-item list-group-item-action list-group-item-dark">Sign up for the TC Climbing Club!: <br />arlt9@mail.nmc.edu</a>
            <a href="mailto:nemetzd@mail.nmc.edu" class="list-group-item list-group-item-action list-group-item-secondary">Contact the Climbing Club!: <br />nemetzd@mail.nmc.edu</a>
        </div>
    </div>
</div>