@{
    ViewData["Title"] = "Lets Climb";
}

<div class="text-center jumbotron-fluid bg-dark text-white row">
    <h1 class="col-sm-12">Learn how to Climb!</h1>
    <p class="col-sm-12">
        <img src="~/Images/Dug.jpg"
             alt="DUUUUUG"
             style="float:center;"
             class="img-fluid rounded" />
    </p>
</div>
<div>
    

</div>
