@{
    ViewData["Title"] = "Lets Climb";
}

<div class="text-center jumbotron-fluid bg-dark text-white row">
    <div class="bg-info rounded">
        <h1 class="col-sm-12" style="font-family: 'Franklin Gothic Book'; text-shadow: 1px 1px black;">Join the Traverse City Climbing Club!</h1>
        <p class="col-sm-12">
            <img src="~/Images/Dug.jpg"
                 alt="DUUUUUG"
                 style="float:center;"
                 class="img-fluid rounded" />
        </p>
    </div>
</div>

        

