@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center jumbotron-fluid bg-dark text-white row" style="font-family:'Franklin Gothic Book'">
    <div class="bg-info rounded">
        <h1 class="col-sm-12">Privacy</h1>
        <p class="col-sm-12" style="padding:10px">
            <i class="fa fa-address-book" style="font-size:36px; padding-bottom: 5px;"></i>
            <br />
            Private information garnered by the climbing club will be used exclusively to update the climbers lists and let members know of upcoming activity.
            <br />
            We promise not to use it for evil.
        </p>
        <p class="col-sm-12">
            <img src="~/Images/climbback.jpg"
                 alt="DUUUUUG"
                 class="img-fluid rounded" />
        </p>
    </div>
</div>
